<h1 class="uppercase">Inscription</h1>
<form #registerForm="ngForm" (ngSubmit)="submit()" class="form">
  <div>
    <label class="fs-3" for="emailRegister">Email</label>
    <input type="email" placeholder="Email" name="email" [(ngModel)]="email" email id="emailRegister" required>
  </div>
  <div>
    <label for="firstNameRegister" class="fs-3">Firstname</label>
    <input type="text" placeholder="Prénom" name="firstname" id="firstNameRegister" [(ngModel)]="firstName" required>
  </div>
  <div>
    <label for="lastNameRegister" class="fs-3">Lastname</label>
    <input type="text" placeholder="Nom" name="lastname" id="lastNameRegister" [(ngModel)]="lastName" required>
  </div>
  <div>
    <label for="passwordRegister" class="fs-3">Password</label>
    <input type="password" placeholder="Mot de passe" name="password" id="passwordRegister" [(ngModel)]="password" required>
  </div>
  <div>
    <span class="flex justify-center">
      <input type="submit" value="Sinscrire" [disabled]="!registerForm.valid" class="button button-darkblue">
    </span>
  </div>
</form>
<span class="flex justify-end mt-3">
  <a class="link-black" routerLink="/login">Déjà inscrit ? </a>
</span>
