<span>
  Formulaire valide:
  <ng-container *ngIf="isMyFormValid">oui</ng-container>
  <ng-container *ngIf="!isMyFormValid">non</ng-container>
</span>
<form #myForm="ngForm" (ngSubmit)="submit()" class="flex-column">
  <input #lastnameField="ngModel" type="text" name="lastname" [(ngModel)]="model.lastname" placeholder="Nom" required minlength="5" maxlength="20">
  <span *ngIf="lastnameField.touched && lastnameField.errors && lastnameField.errors['required']">Le champ est requis</span>
  <span *ngIf="lastnameField.touched && lastnameField.errors && lastnameField.errors['minlength']">Le nom doit avoir au moins 5 caractères</span>
  <span *ngIf="lastnameField.touched && lastnameField.errors && lastnameField.errors['maxlength']">Le nom ne doit pas avoir plus de 20 caractères</span>

  <input #firstnameField="ngModel" type="text" name="firstname" [(ngModel)]="model.firstname" placeholder="Prénom" required minlength="5" maxlength="20">
  <span *ngIf="firstnameField.touched && firstnameField.errors && firstnameField.errors['required']">Le champ est requis</span>
  <span *ngIf="firstnameField.touched && firstnameField.errors && firstnameField.errors['minlength']">Le prénom doit avoir au moins 5 caractères</span>
  <span *ngIf="firstnameField.touched && firstnameField.errors && firstnameField.errors['maxlength']">Le prénom ne doit pas avoir plus de 20 caractères</span>

  <input #birthdayField="ngModel" type="date" name="birthday" [(ngModel)]="model.birthday" placeholder="Date de naissance" dateValue required minDate="2000-01-01" maxDate="2100-01-01">
  <span *ngIf="birthdayField.touched && birthdayField.errors && birthdayField.errors['required']">Le champ est requis</span>
  <span *ngIf="birthdayField.touched && birthdayField.errors && birthdayField.errors['minDate']">Vous devez être né(e) après l'an 2000</span>
  <span *ngIf="birthdayField.touched && birthdayField.errors && birthdayField.errors['maxDate']">Vous devez être né(e) avant l'an 2100</span>

  <input type="submit" value="Valider">
</form>
