<div class="flex-column">
  <label for="selectTemplate">Modèle à utiliser :</label>
  <select id="selectTemplate" [(ngModel)]="selectedTemplate" [disabled]="!canChangeSelectedTemplate">
    <option [ngValue]="undefined">--- Aucun ---</option>
    <option *ngFor="let template of templates" [ngValue]="template">
      <ng-container *ngIf="template.shared">(Partagé) </ng-container>
      {{ template.label }}
    </option>
  </select>
</div>


<div class="flex-column flex-fill gap-15">
  <span *ngIf="!!selectedTemplate" class="text-center">Si vous modifiez le contenu du modèle dans cette page, il ne sera pas sauvegarder.</span>

    <div class="flex-column flex-fill gap-5">
      <span class="flex-column gap-2">
        <label for="emailsubject" class="fs-3">Sujet de l'email :</label>
        <input id="emailsubject" [(ngModel)]="model.subject" />
      </span>
      <span>Contenu de l'email</span>
      <div class="position-relative flex-column flex-fill">
        <quill-editor format="html" [(ngModel)]="model.content" class="bg-white top-0 left-0 bottom-0 right-0" />
      </div>
    </div>

    <div class="flex-column p-2 gap-3">
      <h2 class="m-0">Valeurs de substitution</h2>
      <div *ngFor="let placeholder of placeholders" class="flex-column align-start">
        <span class="text-bold">{{ placeholder.name }}</span>
        <span>Valeur de substitution <span class="color-team">{{ '{' + placeholder.placeHolder + '}' }}</span></span>
        <span>Type: {{ placeholder.type | placeholderType }}</span>
        <p class="m-0">{{ placeholder.description }}</p>
      </div>
    </div>

  <div class="flex align-center gap-2">
    <label for="showMyAddressAsFrom">Faire apparaitre votre adresse mél en adresse source:</label>
    <input id="showMyAddressAsFrom" type="checkbox" name="showMyAddressAsFrom" [(ngModel)]="model.showMyAddressAsFrom" />
    <span *ngIf="model.showMyAddressAsFrom">Oui</span>
    <span *ngIf="!model.showMyAddressAsFrom">Non</span>
  </div>
  <div class="flex align-center gap-2">
    <label for="showMyAddressAsReplyTo">Faire apparaitre votre adresse mél en adresse de réponse:</label>
    <input id="showMyAddressAsReplyTo" type="checkbox" name="showMyAddressAsReplyTo" [(ngModel)]="model.showMyAddressAsReplyTo" />
    <span *ngIf="model.showMyAddressAsReplyTo">Oui</span>
    <span *ngIf="!model.showMyAddressAsReplyTo">Non</span>
  </div>
  <div class="flex w-100percent gap-2">
    @if (needSendConfirmation) {
      <button class="flex-fill" style="max-width: calc(50% - .5rem)" (click)="confirmSending()">Confirmer l'envoi du mél à tout le monde</button>
      <button class="flex-fill" style="max-width: calc(50% - .5rem)" (click)="cancelSending()">Annuler</button>
    }
    @else {
      <button [disabled]="!model.subject || !model.content" class="flex-fill" (click)="tryToSendEmail()">Envoyer le mél à tout le monde</button>
    }
  </div>
  <button [disabled]="!model.subject || !model.content" (click)="sendSampleEmail()">M'envoyer ce mél individuellement</button>
</div>
