<button (click)="writeNewEmail()" class="button button-white">Envoyer un nouveau mél</button>
<span class="align-self-end">Total: {{ emails.length }} mél{{ emails.length > 1 ? 's' : '' }}</span>
<table class="w-100percent">
  <thead>
  <tr>
    <th>Date d'envoi</th>
    <th>Sujet</th>
    <th>Pièces jointes</th>
    <th>Contenu</th>
  </tr>
  </thead>
  <tbody>
    @for (email of emails; track email) {
      <tr>
        <td>{{ email.createdAt | date }}</td>
        <td>{{ email.subject }}</td>
        <td>{{ email.attachmentAmount }}</td>
        <td><button (click)="seeEmailContent(email)">Voir le contenu</button></td>
      </tr>
    }
  </tbody>
</table>
