<h1 class="uppercase">Votre equipe </h1>

<div class="flex-column border border-2 p-3 mt-8">
  <span class="flex-column gap-3">
    <span class="fs-3">{{ team.event.name }}</span>
    <span class="flex-column">
      <span>Date de l'évènement : {{ team.event.beginning | date: 'dd/MM/yyyy' }}</span>
      <span>Inscriptions possibles du {{ team.event.registerBeginning | date: 'dd/MM/yyyy' }}
        au {{ team.event.registerEnding | date: 'dd/MM/yyyy' }}.</span>
    </span>
  </span>
  <hr>
  <p class="text-italic text-ellipsis">{{ team.event.description }}</p>
  <span class="flex justify-end mt-3">
    <button (click)="leaveEventModal(team.event.id)" [disabled]="team.event.id == null" class="button button-negatif">Quitter l'évènement</button>
  </span>
</div>

<form #teamEditForm="ngForm">

  <div class="border border-2 p-3 mt-2">
    <span class="fs-3">Conditions de validation d'équipe</span>
    <span class="flex-wrap">
      <ul>
        <li *ngIf="team.event.allowTeamName">
          <span>Nom d'équipe</span>
        </li>
        <li *ngIf="team.event.minimalTeamSize === team.event.maximalTeamSize">
          <span>Nombre de participants par équipe : {{ team.event.minimalTeamSize }}</span>
        </li>
        <span
          *ngIf="team.event.minimalTeamSize && team.event.maximalTeamSize && team.event.minimalTeamSize < team.event.maximalTeamSize">
          <li>Participants minimum par équipe : {{ team.event.minimalTeamSize }}</li>
          <li>Participants maximum par équipe : {{ team.event.maximalTeamSize }}</li>
        </span>
      </ul>
    </span>
    <span class="flex justify-center">
      <button (click)="validate()" class="button button-darkblue">Inscrire l'équipe</button>
    </span>
  </div>

  <div class="form">
    <div class="flex-column align-center">
    <span class="flex-column align-center gap-3">
      <span class="fs-3">Information de l'équipe</span>
      <span *ngIf="team.event.allowTeamName" class="fs-2 color-gray text-center">{{ team.name }}</span>
    </span>
      <hr class="w-60percent">
    </div>
    <div class="flex-column gap-5">
      <ng-container *ngIf="team.event.allowTeamName">
        <span class="flex-column gap-2">
          <label class="fs-3" for="teamname">Nom d'équipe<span *ngIf="!isTeamNameSaved"
                                                               class="color-team fs-3 text-bold"> • </span></label>
          <input [(ngModel)]="teamName" id="teamname" name="teamname" required type="text">
        </span>
      </ng-container>
    </div>

    <div *ngIf="moreThanOneTeamDocumentRequired">
      <span class="fs-3">Documents d'équipe</span>
      <ng-container *ngFor="let documentRequirement of team.event.documentRequirements">
        <div *ngIf="!documentRequirement.individual" class="flex">
          <span class="flex justify-center">{{ documentRequirement.name }}<span *ngIf="!documentRequirement.optional"> • </span></span>
          <ng-container *ngIf="documentRequirement.documentId">
            <button (click)="seeDocumentRequirementDocument(documentRequirement)">Voir le document join</button>
            <a [href]="documentRequirement.documentId | documentUrl: true" target="_blank">Télécharger le document
              joint</a>
          </ng-container>
          <ng-container *ngIf="!getTeamDocument(documentRequirement)">
            <button (click)="addTeamDocument(documentRequirement)" [disabled]="isLoading">Joindre le document</button>
          </ng-container>
          <ng-container *ngIf="!!getTeamDocument(documentRequirement)">
            <button (click)="seeTeamDocument(documentRequirement)">Voir le document</button>
            <a [href]="getTeamDocument(documentRequirement)!.documentId! | documentUrl: true" target="_blank">Télécharger
              le document</a>
            <button (click)="deleteTeamDocument(documentRequirement)" [disabled]="isLoading">Supprimer le document
            </button>
          </ng-container>
        </div>
      </ng-container>
    </div>


    <!-- Membres -->
    <div>
      <hr>
      <span class="flex gap-2 fs-3">
        <span>Membres</span>
        <span class="color-gray">{{ team.members.length }}</span>
      </span>
      <div *ngFor="let member of team.members">
        <span>Nom : {{ member.email }}</span>

        <div *ngIf="isMe(member)">
          <ng-container *ngFor="let documentRequirement of team.event.documentRequirements">
            <div *ngIf="documentRequirement.individual" class="flex">
              <span>{{ documentRequirement.name }}<span *ngIf="!documentRequirement.optional"></span></span>
              <ng-container *ngIf="documentRequirement.documentId">
                <button (click)="seeDocumentRequirementDocument(documentRequirement)">Voir le document joint</button>
                <a [href]="documentRequirement.documentId | documentUrl: true" target="_blank">Télécharger le document
                  joint</a>
              </ng-container>
              <ng-container *ngIf="!getUserDocument(documentRequirement)">
                <button (click)="addUserDocument(documentRequirement)" [disabled]="isLoading">Joindre mon document
                </button>
              </ng-container>
              <ng-container *ngIf="!!getUserDocument(documentRequirement)">
                <button (click)="seeUserDocument(documentRequirement)">Voir mon document</button>
                <a [href]="getUserDocument(documentRequirement)!.documentId! | documentUrl: true" target="_blank">Télécharger
                  mon document</a>
                <button (click)="deleteUserDocument(documentRequirement)" [disabled]="isLoading">Supprimer mon
                  document
                </button>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="mt-3">
        <span>Invitations :</span>
        <div class="flex-column gap-3">
          <span *ngFor="let invitation of team.invitations" class="flex align-center gap-2">
            <button (click)="deleteInvitation(invitation)" class="button">-</button>
            {{ invitation.recipient }}
          </span>
          <div class="flex justify-end mt-2 mb-6">
            <button (click)="openInvitationModal()" class="button button-white">Inviter un nouveau membre</button>
          </div>
        </div>
      </div>
    </div>

    <input #fileInput (change)="onFileSelected($event)" accept="image/*, .pdf" class="d-none" name="fileSelector"
           type="file"/>
  </div>

</form>

<span class="flex justify-end">
  <button (click)="leaveTeam()" class="button button-negatif">Quitter l'équipe</button>
</span>
