<a routerLink="/event/{{ eventId }}/emails" class="button button-white">Méls</a>
<span class="align-self-end">Total: {{ teams.length }} équipe{{ teams.length > 1 ? 's' : '' }}</span>
<table class="w-100percent">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Nombre de membres</th>
      <th>État de l'inscription</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (team of teams; track team) {
      <tr>
        <td>
          @if (!team.name) {
            <span>{{ team.name}}</span>
          }
          @else {
            <span class="text-italic">#{{ team.id }}</span>
          }
        </td>
        <td>{{ team.members.length }}</td>
        <td>{{ team.validated ? 'Validé' : 'En attente' }}</td>
        <th>
          <button (click)="seeDetails(team)">Voir le détail</button>
          <button [routerLink]="[team.id, 'emails']">Gérer les mails</button>
        </th>
      </tr>
    }
  </tbody>
</table>
