<h1 class="uppercase">Paramètres</h1>

<div class="flex-column mt-5 p-3 border border-2 align-center">
  @if (isCurrentUserEmailConfirmed) {
    Votre compte est confirmé
  }
  @else {
    Votre compte n'est pas confirmé.
    <button (click)="sendEmailConfirmation()" class="button button-darkblue">Renvoyer le mail de confirmation</button>
  }
</div>

<div id="form-settings">

  <form #changePasswordForm="ngForm" (ngSubmit)="submitPasswordChange()" class="form">
    <div>
      <span class="fs-3">Mot de passe</span>
      <span>Mot de passe actuel</span>
      <input type="password" name="actualpassword" [(ngModel)]="passwordChangeRequest.oldPassword" placeholder="Mot de passe actuel" required>
    </div>
    <div>
      <span>Nouveau mot de passe</span>
      <input type="password" name="newpassword" [(ngModel)]="passwordChangeRequest.newPassword" placeholder="Nouveau mot de passe" required>
    </div>
    <div>
      <span>Confirmer le mot de passe</span>
      <input type="password" name="confirmnewpassword" [(ngModel)]="confirmPassword" placeholder="Nouveau mot de passe" required>
      <span *ngIf="passwordChangeRequest.newPassword !== confirmPassword">La confirmation du mot de passe n'est pas bonne</span>
    </div>
    <div class="flex align-center">
      <input [disabled]="!changePasswordForm.valid || passwordChangeRequest.newPassword !== confirmPassword" type="submit" value="Valider" class="button button-darkblue" />
    </div>
  </form>

  <form #form="ngForm" (ngSubmit)="submit()" class="form w-100percent">
    <div>
      <label class="fs-3">Adresse mail</label>
      <span>Adresse mail actuelle : {{settings.email}}</span>
      <span>Changer l'adresse mail :</span>
      <input type="email" name="email" [(ngModel)]="settings.email" email placeholder="Adresse mail">
    </div>
    <div>
      <label class="fs-3">Diplôme</label>
      <div class="flex-column autocomplete-container">
        <input [ngModelOptions]="{standalone: true}" type="text" name="traininglabelautocomplete" [(ngModel)]="diplomaAutoComplete" placeholder="Votre diplôme" autocomplete="off" (keydown)="onDiplomaKeyPressed($event)" (blur)="onBlurDiploma()">
        <div *ngIf="diplomaSuggestions !== undefined" class="autocomplete-content">
        <span *ngFor="let suggestion of diplomaSuggestions; let i = index" [class.selected]="i === diplomaSelectedSuggestionIndex" class="autocomplete-item" (mousedown)="selectDiploma(suggestion)">
          {{ suggestion.label }}
        </span>
          <span [class.selected]="diplomaSuggestions.length === diplomaSelectedSuggestionIndex" class="autocomplete-item" (mousedown)="selectOtherDiploma()">--- Autre ---</span>
        </div>
      </div>
      <input *ngIf="otherDiplomaSelected" type="text" name="traininglabel" [(ngModel)]="settings.trainingLabel" placeholder="Votre diplôme" autocomplete="off">
    </div>
    <div>
      <label class="fs-3">Lieu de formation</label>
      <div class="flex-column autocomplete-container">
        <input [ngModelOptions]="{standalone: true}" type="text" name="traininglocationautocompletion" [(ngModel)]="trainingLocationAutoComplete" placeholder="Lieu de formation" autocomplete="off" (keydown)="onLocationKeyPressed($event)" (blur)="onBlurLocation()">
        <div *ngIf="locationSuggestions !== undefined" class="autocomplete-content">
        <span *ngFor="let suggestion of locationSuggestions; let i = index" [class.selected]="i === locationSelectedSuggestionIndex" class="autocomplete-item" (mousedown)="selectLocation(suggestion)">
          {{ suggestion.label }} ({{ suggestion.postCode }})
        </span>
          <span [class.selected]="locationSuggestions.length === locationSelectedSuggestionIndex" class="autocomplete-item" (mousedown)="selectOtherLocation()">--- Autre ---</span>
        </div>
      </div>
      <input *ngIf="otherLocationSelected" type="text" name="traininglocation" [(ngModel)]="settings.trainingLocation" placeholder="Lieu de formation" autocomplete="off">
    </div>
    <div>
      <label class="fs-3">Année de formation</label>
      <input type="text" name="trainingyear" [(ngModel)]="settings.trainingYear" placeholder="Année de formation">
    </div>
    <div>
      <span class="fs-3">Image de profil</span>
      <span *ngIf="!currentProfilePictureId">Vous n'avez pas de photo de profil pour le moment</span>
      <div class="text-center">
        <img *ngIf="currentProfilePictureId" [src]="currentProfilePictureId | documentUrl" alt="Image de profil" class="w-100percent"/>
      </div>

      <div class="flex justify-between gap-7">
        <label for="fileInput" class="button button-white text-center">
          @if (isNewProfilePictureSelected) {
            Changer la photo de profil
          }
          @else {
            Selectionner une photo de profil
          }
        </label>
        <input id="fileInput" type="file" accept="image/gif,image/jpeg,image/png" value="Changer l'image de profil" (change)="onFileSelected($event)" alt="Profile picture uploader">
        @if (canProfilePictureEditionBeCancelled) {
          <button (click)="cancelProfilePictureEdition()" type="button" class="button button-white">Annuler l'edition de la photo de profil</button>
        }
        @else if (canCurrentProfilePictureBeDeleted) {
          <button (click)="deleteCurrentProfilePicture()" type="button" class="button button-negatif">Supprimer</button>
        }
      </div>
    </div>
    <div class="flex align-center p-2">
      <input [disabled]="!form.valid || !form.dirty" type="submit" value="Valider" class="button button-darkblue">
    </div>
  </form>
</div>
