<h1 class="uppercase">utilisateurs</h1>
<form ngForm class="form">
  <div>
    <label for="searchField" class="fs-3">Rechercher un utilisateur</label>
    <input id="searchField" type="text" [(ngModel)]="query" name="query" placeholder="Prénom, nom ou email" />
  </div>
  <div class="flex gap-4">
    <div class="flex gap-2">
      <input id="adminOnly" type="checkbox" name="admin-only" [(ngModel)]="mustBeAdmin" />
      <label for="adminOnly">Administrateur uniquement</label>
    </div>
    <div class="flex gap-2">
      <input id="modoOnly" type="checkbox" name="moderator-only" [(ngModel)]="mustBeModerator" />
      <label for="modoOnly">Modérateur uniquement</label>
    </div>
    <div class="flex gap-2">
      <tri-checkbox id="confirmedEmail" name="email-confirmed" [(ngModel)]="mustBeEmailConfirmed" />
      <label for="confirmedEmail">Email confirmé</label>
    </div>
  </div>
</form>
<span class="align-self-end m-2">Total: {{ users.length }} utilisateur{{ users.length > 1 ? 's' : '' }}</span>
<div *ngFor="let user of users" class="gap-2">
  <div class="border border-1 flex-column gap-3 mt-5 p-3 w-100percent">
    <div class="flex gap-3 align-end">
      <span class="text-bold w-5">Nom</span>
      <span>{{user.firstName}}</span>
    </div>
    <div class="flex gap-3 align-end">
      <span class="text-bold w-5">Prénom</span>
      <span>{{user.lastName}}</span>
    </div>
    <div class="flex gap-3 align-start">
      <span class="text-bold w-5">Email</span>
      <span class="flex-column">
        <span>{{user.email}}</span>
        <span *ngIf="user.emailConfirmed" class="color-gray">(confirmé)</span>
        <button *ngIf="!user.emailConfirmed" (click)="sendConfirmationEmail(user)" class="button button-white">Envoi email confirmation</button>
      </span>
    </div>
    <div class="flex gap-3 align-start">
      <span class="text-bold w-5">Profil</span>
      <span>
        <ng-container *ngIf="isUserAdmin(user)">Administrateur</ng-container>
        <ng-container *ngIf="isUserModerator(user) && !isUserAdmin(user)">
          Modérateur
          <button (click)="grantAdminPermission(user)" class="button button-white">Promouvoir administrateur</button>
          <button (click)="revokeModeratorPermission(user)" class="button button-white">Rétrograder membre</button>
        </ng-container>
        <ng-container *ngIf="!isUserAdmin(user) && !isUserModerator(user)">
          Membre
          <button (click)="grantModeratorPermission(user)" class="button button-white">Promouvoir modérateur</button>
        </ng-container>
      </span>
    </div>
  </div>
</div>

<table class="hidden">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Administrateur</th>
      <th>Modérateur</th>
      <th>Email vérifié</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <ng-container *ngIf="isUserAdmin(user)">Oui</ng-container>
        <ng-container *ngIf="!isUserAdmin(user)">
          Non
          <button (click)="grantAdminPermission(user)">Promouvoir</button>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="isUserModerator(user)">
          Oui
          <button (click)="revokeModeratorPermission(user)">Rétrograder</button>
        </ng-container>
        <ng-container *ngIf="!isUserModerator(user)">
          Non
          <button (click)="grantModeratorPermission(user)">Promouvoir</button>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="user.emailConfirmed">Oui</ng-container>
        <ng-container *ngIf="!user.emailConfirmed">
          Non
          <button (click)="sendConfirmationEmail(user)">Renvoyer l'email de confirmation</button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
