.big-button:extend(.standard-box) {
  font-weight: bold;
  font-size: 1.8rem;
  padding: 1rem 4rem;
}

.button-close {
  border: none;
  background: none;
  font-weight: bold;
  font-size: larger;
  padding: 0;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.button {
  border: 1px solid #000;

  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;

  font-weight: normal;

  cursor: pointer;

  &:disabled {
    opacity: 60%;
    cursor: not-allowed;
  }
}

.button-white {
  color: black;
  background-color: var(--bg-white-grey);

  margin: 0.5rem 0 0.5rem 0;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;

  &:hover {
    background-color: var(--pastel-color-white-blue);
    transition: background-color 200ms ease-in-out;
  }
}

.button-darkblue {
  color: white;
  font-size: 1.1rem;
  background-color: var(--main-color-darkblue);

  margin: 0.5rem 0 0.5rem 0;
  padding: 0.3rem 1.5rem 0.3rem 1.5rem;

  &:hover {
    background-color: var(--pastel-color-darkblue);
    transition: background-color 200ms ease-in-out;
  }
}

.button-orange {
  color: black;
  background-color: var(--main-color-orange);

  margin: 0.5rem 0 0.5rem 0;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  width: fit-content;


  &:hover {
    background-color: var(--pastel-color-orange);
    transition: background-color 200ms ease-in-out;
  }
}

.button-negatif {
  color: black;
  background-color: #f5e9e4;

  margin: 0.5rem 0 0.5rem 0;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;

  &:hover {
    background-color: #f6bd88;
    transition: background-color 200ms ease-in-out;
  }
}
