.flex-fill {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-self-end { align-self: end; }
.align-self-stretch { align-self: stretch; }

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }
.justify-end { justify-content: flex-end; }

.align-start { align-items: start; }
.align-center { align-items: center; }
.align-end { align-items: end; }

.make-gap-classes(@size: 15, @decrement: 1) when (@size > 0) {
  .make-gap-classes(@size - @decrement);

  @size-rem: @size * .25rem;

  .gap-@{size} { gap: @size-rem; }
}

.make-gap-classes();
