a {
  text-decoration: none;
}

.link-menu {
  color: black;

  :visited {
    color: black;
  }

  &:hover {
    color: var(--main-color-lightblue);
    transition: color 300ms ease-in-out;
  }
}

.link-black {
  color: black;

  :visited {
    color: black;
  }

  &:hover {
    text-decoration: underline;
    transition: all 300ms ease-in-out;
  }
}
