.make-spacing-classes(@size: 20, @decrement: 1) when (@size >= 0) {
  .make-spacing-classes(@size - @decrement);

  @size-rem: @size * .25rem;

  .m-@{size} { margin: @size-rem; }
  .mt-@{size} { margin-top: @size-rem; }
  .mb-@{size} { margin-bottom: @size-rem; }
  .ml-@{size} { margin-left: @size-rem; }
  .mr-@{size} { margin-right: @size-rem; }
  .mx-@{size} { margin-left: @size-rem; margin-right: @size-rem }
  .my-@{size} { margin-top: @size-rem; margin-bottom: @size-rem }

  .p-@{size} { padding: @size-rem; }
  .pt-@{size} { padding-top: @size-rem; }
  .pb-@{size} { padding-bottom: @size-rem; }
  .pl-@{size} { padding-left: @size-rem; }
  .pr-@{size} { padding-right: @size-rem; }
  .px-@{size} { padding-left: @size-rem; padding-right: @size-rem }
  .py-@{size} { padding-top: @size-rem; padding-bottom: @size-rem }
}

.make-spacing-classes();

.p-5-percent {
  padding: 35%;
}
