:root {
  --font-main: "MADE Evolve Sans", sans-serif;
  --font-secondary: "MADE Evolve Sans EVO", sans-serif;
}

.make-typography-classes(@size: 1) when (@size <= 8) {
  .make-typography-classes(@size + 1);

  .fs-@{size} { font-size: @size * .5rem; }
}

.make-typography-classes();


.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-bold {
  font-weight: bold;
}

.text-weight-normal {
  font-weight: normal;
}

.text-italic {
  font-style: italic;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.font1 {
  font-family: "MADE Evolve Sans", sans-serif !important;
}

.font2 {
  font-family: "MADE Evolve Sans EVO", sans-serif !important;
}

