@import '~quill/dist/quill.snow.css';

@import "styles/tools/borders";
@import "styles/tools/colors";
@import "styles/tools/cursor";
@import "styles/tools/flex";
@import "styles/tools/position";
@import "styles/tools/sizing";
@import "styles/tools/spacing";
@import "styles/tools/typography";
@import "styles/tools/links";
@import "styles/tools/buttons";
@import "styles/tools/z-index";

@import "styles/autocomplete";
@import "styles/override";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-white-grey);
  font-family: var(--font-main);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  height: 7rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  margin-top: 2.5rem;
  padding: 0.75rem 0.75rem 2rem 0.75rem;

  border: 2px solid black;
  height: fit-content;
  min-width: 40%;

  & > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

input, select {
  font-family: var(--font-main);
  font-size: 1rem;
  padding: 0.5rem;
  max-width: 100%;
}

input[type="file"] {
  display: none;
}

textarea {
  min-height: 20vh;
  resize: vertical;
  font-family: var(--font-main);
}

hr {
  border-top: 1px solid black;
  margin-block: 1.5rem;
  width: 100%;
}

#menu a {
  z-index: 1000;
}

.hidden {
  display: none !important;
}

.no-scrolling {
  overflow-y: hidden;
}

.scrolling {
  overflow-y: auto;
}

.standard-box {
  border: .1875rem solid #000;
}

.d-none {
  display: none;
}

.content-width {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .content-width {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
}
