<h1 class="uppercase my-3">Rejoindre une équipe</h1>
<div class="flex-column gap-5">
  <form #form="ngForm" (ngSubmit)="join()" class="flex-column">
    <div>
      <label>Code d'invitation de l'équipe</label>
      <input type="text" placeholder="Code d'invitation" name="invitationCode" [(ngModel)]="invitationCode" required [minlength]="8" [maxlength]="8" class="w-100percent">
    </div>
    <div class="flex justify-center p-2">
      <input [disabled]="!form.valid" type="submit" value="Rejoindre" class="button button-darkblue">
    </div>

    <span class="m-0 p-0 fs-2 color-error">
      <ng-container *ngIf="status === 'wrong-code'">Code invalide.</ng-container>
      <ng-container *ngIf="status === 'already-in-a-team'">Vous êtes déjà membre d'une équipe pour cet évènement :/</ng-container>
    </span>
  </form>
</div>
