<h1 class="uppercase my-3">Quitter cet évènement</h1>
<div class="flex-column gap-5">
  <div class="flex-column">
    <span>Voulez-vous vraiment quitter cet évènement ?</span>
    <span>Vous pourrez le rejoindre à tout moment avec un lien de partage (code, invitation, ...).</span>
  </div>
  <span class="flex justify-evenly">
    <button (click)="output.next(undefined)" class="button button-negatif">Annuler</button>
    <button (click)="removeUserToEvent()" class="button button-white">Quitter</button>
  </span>
</div>
