<h1 class="uppercase my-3">Rejoindre un évènement</h1>
<div class="flex-column gap-5">
  <span>Pour rejoindre un évènement, entrez son code.</span>
  <form #myForm="ngForm" (ngSubmit)="submit()" class="flex-column">
    <div>
      <label>Code de l'évènement</label>
      <input type="text" placeholder="Code" name="name" [(ngModel)]="code" class="w-100percent" required>
    </div>
    <div class="flex justify-center p-2">
      <input [disabled]="!myForm.valid" type="submit" value="Rejoindre" class="button button-darkblue">
    </div>
  </form>
</div>
<span *ngIf="errorMsgActivated">
    <p class="m-0 p-0 fs-2 color-error">
      Impossible de rejoindre l'évènement.
      {{errorMsg}}.
    </p>
</span>
