<h1 class="uppercase m-0 p-0">Suppression</h1>
<div class="flex-column align-center">
  <span>Voulez-vous vraiment supprimer cet évènement ?</span>
</div>
<button (click)="output.next(undefined)"
        class="bg-event position-absolute"
        style="top: calc(100%); left: 20%; transform: translate(-50%)"
>
  Annuler
</button>
<button (click)="removeEvent()"
        class="bg-event position-absolute"
        style="top: calc(100%); left: 80%; transform: translate(-50%)"
>
  Supprimer
</button>

