<h1 class="uppercase m-0 p-0">Nom de l'évènement</h1>
<div class="flex-column align-center">
  <span>Voulez-vous rejoindre</span>
  <span>l'évènement ?</span>
</div>
<button big-button class="bg-event position-absolute" style="top: calc(100%); left: 50%; transform: translate(-50%)">Rejoindre</button>
