<h1 class="uppercase my-3">Créer une équipe</h1>
<div class="gap-5">
  <span>Voulez-vous créer une équipe pour cet évènement ?</span>
  <div class="flex justify-center p-2 mt-3">
    <button (click)="create()" class="button button-orange">Oui</button>
  </div>
  <!--<form #form="ngForm" (ngSubmit)="create()" class="flex-column">
    <div>
      <label>Nom de l'équipe</label>
      <input type="text" placeholder="Nom de l'équipe" name="name" [(ngModel)]="teamName" required>
    </div>
    <div class="flex justify-center p-2">
      <input [disabled]="!form.valid" type="submit" value="Créer" class="button-colored button-team">
    </div>
  </form>-->
</div>
