<h1 class="uppercase">Connexion</h1>
<form #loginForm="ngForm" (ngSubmit)="tryToLog()" class="form">
  <div>
    <label class="fs-3" for="emailLogin">Email</label>
    <input #emailInput="ngModel" [(ngModel)]="email" email id="emailLogin" name="email" placeholder="Email"
           required type="email">
  </div>
  <div>
    <label class="fs-3" for="passwordLogin">Mot de passe</label>
    <input [(ngModel)]="password" id="passwordLogin" name="password" placeholder="Mot de passe" required
           type="password">
  </div>
  <span *ngIf="!!errorMessage">{{ errorMessage }}</span>

  <div class="flex align-center">
    <button [disabled]="!loginForm.valid" class="button button-darkblue" type="submit">Se connecter</button>
  </div>

  <div>
    <span class="flex justify-between gap-3">
      <button (click)="sendMagicLink()" [disabled]="!emailInput.valid" class="button button-white" type="button">Envoyer un lien magique</button>
      <button (click)="resetPassword()" [disabled]="!emailInput.valid" class="button button-white" type="button">Mot de passe oublié?</button>
    </span>
  </div>
</form>
<span class="flex justify-end mt-3">
  <a class="link-black" routerLink="/register">Pas encore inscrit ?</a>
</span>
