<div class="border border-2 p-3 mt-8">
    <span class="flex align-center">
      <span class="fs-3">
        {{event.name}}
        <span class="pl-2 fs-2 text-weight-normal">- {{event.beginning | date: 'dd/MM/yyyy'}} (Inscriptions du {{event.registerBeginning | date: 'dd/MM/yyyy'}} au {{event.registerEnding | date: 'dd/MM/yyyy'}})</span>
      </span>
    </span>
  <p class="text-italic text-ellipsis">{{event.description}}</p>
  <hr>
  <div>
      <div *ngIf="!isModerator">
        <ng-container *ngIf="!isPlayerAlreadyInTeam(event.id)">
          <span class="flex justify-evenly gap-7">
            <button (click)="createTeam()" class="button button-white">Créer une équipe</button>
            <button (click)="joinTeam()" class="button button-white">Rejoindre une équipe</button>
          </span>
        </ng-container>
        <span class="flex justify-center">
          <a *ngIf="isPlayerAlreadyInTeam(event.id)" [routerLink]="['/event', event.id, 'teams', getPlayerTeamId(event.id)]" class="button button-white">Voir mon équipe</a>
        </span>
      </div>

      <span *ngIf="isModerator" class="flex justify-evenly gap-2 flex-wrap">
        <a routerLink="/event/{{event.id}}/edit" class="button button-white">Editer</a>
        <a routerLink="/event/{{event.id}}/stats" class="button button-white">Stats</a>
        <a routerLink="/event/{{event.id}}/teams" class="button button-white">Équipes</a>
      </span>

  </div>
</div>
