<h1 class="uppercase">évènement</h1>
<form #myForm="ngForm" (ngSubmit)="submit()" class="form">
  <div>
    <span class="fs-3">Information de l'évènement</span>
    <div class="flex-column gap-2">
      <label for="nameEvent">Nom de l'évènement*</label>
      <input id="nameEvent" type="text" placeholder="{{eventViewModel.name}}" name="name" [(ngModel)]="eventViewModel.name" required>
    </div>
    <div class="flex-column gap-2">
      <label for="description">Description</label>
      <textarea id="description" placeholder="{{eventViewModel.description}}" name="description" [(ngModel)]="eventViewModel.description"></textarea>
    </div>
    <div *ngIf="isEditingMode" class="flex-column gap-2">
      <label for="codeEvent">Code</label>
      <input id="codeEvent" type="text" [disabled]="true" placeholder="{{eventViewModel.code}}" name="code" [(ngModel)]="eventViewModel.code">
    </div>
  </div>

  <div>
    <span class="fs-3">Dates</span>
    <div>
      <span class="flex justify-between align-center">
        <label for="beginning">Date du début de l'évènement*</label>
        <input id="beginning" #beginningField="ngModel" type="date" dateValue name="beginning" [(ngModel)]="eventViewModel.beginning" required>
      </span>
      <!--<span *ngIf="beginningField.errors && beginningField.errors['required']">
         <p class="m-0 p-0 fs-2 color-error">
           Le champ est requis.
         </p>
      </span>-->
    </div>
    <div>
      <span class="flex justify-between align-center">
        <label for="registerBeginning">Date de début des inscriptions</label>
        <input id="registerBeginning" #beginningRegisterField="ngModel" type="date" dateValue name="registerBeginning" [maxDate]="eventViewModel.beginning" [(ngModel)]="eventViewModel.registerBeginning">
      </span>
      <span *ngIf="beginningRegisterField.errors && beginningRegisterField.errors['maxDate']">
        <p class="m-0 p-0 fs-2 color-error">
          Les inscriptions ne peuvent débuter après le début de l'évènement.
        </p>
      </span>
    </div>
    <div>
      <span class="flex justify-between align-center">
        <label for="registerEnding">Date de fin des inscriptions</label>
        <input id="registerEnding" #endingRegisterField="ngModel" type="date" dateValue name="registerEnding" [minDate]="eventViewModel.registerBeginning" [maxDate]="eventViewModel.beginning" [(ngModel)]="eventViewModel.registerEnding">
      </span>
      <span *ngIf="endingRegisterField.errors && endingRegisterField.errors['maxDate']">
         <p class="m-0 p-0 fs-2 color-error">
           Les inscriptions ne peuvent débuter après le début de l'évènement.
         </p>
      </span>
      <span *ngIf="endingRegisterField.errors && endingRegisterField.errors['minDate']">
         <p class="m-0 p-0 fs-2 color-error">
           Les inscriptions ne peuvent se finir avant qu'elles ne débutent.
         </p>
      </span>
    </div>
  </div>


  <div>
    <span class="fs-3">Equipe</span>
    <div class="flex-column">
      <div class="flex justify-between align-center">
        <label for="allowTeam">Fonctionnement par équipes</label>
        <input id="allowTeam" type="checkbox" name="allowTeam" [defaultValue]="allowTeam" [(ngModel)]="allowTeam">
      </div>
    </div>
    <div *ngIf="allowTeam" class="flex-column">
      <div class="flex justify-between align-center">
        <label for="allowTeamName">Nom d'équipe autorisée</label>
        <input id="allowTeamName" type="checkbox" name="allowTeamName" [defaultValue]="eventViewModel.allowTeamName" [(ngModel)]="eventViewModel.allowTeamName">
      </div>
    </div>
    <div *ngIf="allowTeam">
      <div class="flex justify-between align-center">
        <label for="minimumPerTeam">Nombre minimum par équipe</label>
        <input id="minimumPerTeam" type="number" min="1" [defaultValue]="eventViewModel.minimalTeamSize" name="minimalTeamSize" [(ngModel)]="eventViewModel.minimalTeamSize" class="w-5">
      </div>
    </div>
    <div *ngIf="allowTeam">
      <div>
        <span class="flex justify-between align-center">
          <label for="maximumPerTeam">Nombre maximum par équipe</label>
          <input id="maximumPerTeam" #maximalTeamSizeField="ngModel" type="number" [min]="eventViewModel.minimalTeamSize ?? 1" name="maximalTeamSize" [(ngModel)]="eventViewModel.maximalTeamSize" class="w-5">
        </span>
        <span *ngIf="maximalTeamSizeField.errors && maximalTeamSizeField.errors['min']">
           <p class="m-0 p-0 fs-2 color-error">
             La taille maximale doit être égale ou supérieure à la taille minimale.
           </p>
        </span>
      </div>
    </div>
    <span *ngIf="errorMessage">
      <p class="m-0 p-0 fs-2 color-error">{{errorMessage}}</p>
    </span>
  </div>

  <hr>

  <div>
    <span class="fs-3">Documents démandés pour l'évènement</span>
    <div *ngFor="let documentRequirement of eventViewModel.documentRequirements; let i = index"
         class="flex-column gap-1 border m-4 p-2">
      <div class="flex-column">
        <label>Nom du document requis</label>
        <input class="flex-fill" type="text" [(ngModel)]="documentRequirement.name" required name="nameDocReq{{i}}" />
      </div>

      <div class="flex justify-between">
        <div>
          <input id="docIndiv" type="checkbox" [(ngModel)]="documentRequirement.individual" name="individualDocReq{{i}}" />
          <label for="docIndiv">Document individuel</label>
        </div>
        <div>
          <input id="docFacultatif" type="checkbox" [(ngModel)]="documentRequirement.optional" name="optionalDocReq{{i}}" />
          <label for="docFacultatif">Document facultatif</label>
        </div>
      </div>

      <span class="flex align-center gap-10">
        <span>Joindre un document type :</span>
        <span class="flex justify-center">
          <button type="button" *ngIf="!documentRequirement.newDocumentContent && !documentRequirement.documentId" (click)="addDocumentRequirementDocument(documentRequirement)" class="button button-white">Joindre un document</button>
        </span>
      </span>
      <span class="flex justify-evenly gap-5">
          <button type="button" *ngIf="!!documentRequirement.newDocumentContent || !!documentRequirement.documentId" (click)="seeDocumentRequirementDocument(documentRequirement)" class="button button-white">Voir le document joint</button>
          <button type="button" *ngIf="!!documentRequirement.newDocumentContent || !!documentRequirement.documentId" (click)="deleteDocumentRequirementDocument(documentRequirement)" class="button button-negatif">Supprimer le document joint</button>
      </span>

      <span class="flex justify-end mt-6">
        <button type="button" (click)="removeDocumentRequirement(documentRequirement)" class="button button-negatif">Supprimer</button>
      </span>
    </div>

    <span class="flex justify-center">
      <button type="button" (click)="addDocumentRequirement()" class="button button-white">Demander un autre document</button>
    </span>
  </div>

  <div class="flex align-center p-2">
    <input [disabled]="!myForm.valid" type="submit" [value]="isEditingMode ? 'Enregistrer' : 'Créer'" class="button button-darkblue">
  </div>
  <input #fileInput class="d-none" type="file" name="fileSelector" accept="image/*, .pdf" (change)="onFileSelected($event)" />
</form>
