@keyframes opening {
  from {
    transform: scaleX(0%) scaleY(0%);
  }
  to {
    transform: scaleX(100%) scaleY(100%);
  }
}

:host {
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(.1rem);
}

:host > * {
  max-height: 100%;
  max-width: 100%;

  animation-name: opening;
  animation-duration: 100ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
