<header class="border-bottom border-2 m-0 flex align-center gap-8 justify-between">
  <a routerLink="/" class="flex zindex-0">
    <img src="assets/logo.svg" alt="logo" class="my-2 ml-2 h-4" (click)="closeMenu()" />
  </a>
  <div class="border-left border-2 align-self-stretch flex align-center justify-center cursor-pointer position-relative">
    <img src="assets/settings.png" alt="settings" class="mx-8 h-2" (click)="toggleMenu()" />
    <div id="menu" [class.hidden]="!isMenuOpened" class="scrolling position-absolute zindex-1 h-100vh top-99 right-0 flex-column justify-between bg-whitegrey border-2 border-top p-5-percent min-svw-100">
      <div class="flex-column fs-5 font2 gap-5 text-end">
        <ng-container *ngFor="let menuItem of menuItems">
          <ng-container *ngIf="canBeShown(menuItem)">
            <a *ngIf="!!menuItem.route" [routerLink]="menuItem.route" (click)="toggleMenu()" class="link-menu">{{ menuItem.label }}</a>
            <a *ngIf="!!menuItem.action" (click)="menuItem.action(); toggleMenu()" class="link-menu">{{ menuItem.label }}</a>
          </ng-container>
        </ng-container>
      </div>
      <p (click)="closeMenu()" class="fs-8">X</p>
    </div>
  </div>
</header>

<div class="flex-column justify-center align-center p-5 mb-20">
  <router-outlet></router-outlet>
</div>
<modal-container></modal-container>

<footer></footer>
