<div class="flex-column gap-3">
  <label for="selectTemplate" class="fs-3">Modèle à éditer</label>
  <select id="selectTemplate" [(ngModel)]="currentTemplate" [disabled]="currentTemplateDirty">
    <option [ngValue]="undefined">--- Nouveau --- </option>
    <option *ngFor="let template of templates" [ngValue]="template">
      <ng-container *ngIf="!!template.code">(Admin) {{ template.code }}</ng-container>
      <ng-container *ngIf="template.shared">(Partagé) </ng-container>
      <ng-container *ngIf="!!template.label">{{ template.label }}</ng-container>
    </option>
  </select>
  <form #creationForm="ngForm" *ngIf="!currentTemplate" class="form" (ngSubmit)="createNewTemplate()">
    <label>Nom du nouveau modèle:</label>
    <input type="text" name="newtemplatename" [(ngModel)]="newTemplateName" placeholder="Nom du nouveau modèle" required maxlength="45">
    <span class="align-center">
      <input type="submit" value="Créer" [disabled]="!creationForm.valid" class="button button-darkblue">
    </span>
  </form>
</div>

<ng-container *ngIf="!!currentTemplate">
  <span *ngIf="!currentTemplateEditable">Ce modèle ne vous appartient pas! Il vous est toutefois accessible en lecture seule.</span>
  <div class="flex-column flex-fill gap-15">
    <div class="flex-column mt-5 form">
      <span class="flex align-center" >
        <span class="fs-3 text-center">Valeurs de substitution </span>
        <span class="border-bottom pt-5 w-60percent"></span>
        <!--<hr class="w-60percent">-->
      </span>
      <div *ngFor="let placeholder of currentTemplatePlaceholders" class="flex-column align-start">
        <span class="fs-3">{{ placeholder.name }}</span>
        <span>Valeur de substitution : <span class="color-team">{{ '{' + placeholder.placeHolder + '}' }}</span></span>
        <span>Type: {{ placeholder.type | placeholderType }}</span>
        <p class="text-italic m-0 color-gray">{{ placeholder.description }}</p>
      </div>
    </div>

    <div class="flex-column flex-fill gap-5">
      <span class="flex-column gap-2">
        <label for="emailsubject" class="fs-3">Sujet de l'email</label>
        <input id="emailsubject" [disabled]="!currentTemplateEditable" [(ngModel)]="currentTemplateSubject" />
      </span>
      <div class="flex-column gap-2">
        <span class="fs-3" >Contenu de l'email</span>
        <div class="position-relative flex-column flex-fill">
          <quill-editor format="html" [disabled]="!currentTemplateEditable" [(ngModel)]="currentTemplateContent" class="bg-white"></quill-editor>
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="currentTemplateDeletable" (click)="delete()" class="button button-negatif">Supprimer</button>
  <ng-container *ngIf="currentTemplateEditable" >
    <div *ngIf="!currentTemplateAdmin" class="flex align-center gap-2 mt-8">
      <span>Autoriser les autres modérateurs à utiliser mon modèle :</span>
      <input type="checkbox" name="shared" [(ngModel)]="currentTemplateShared" />
      <span *ngIf="currentTemplateShared">Oui</span>
      <span *ngIf="!currentTemplateShared">Non</span>
    </div>
    <span class="flex justify-between mt-5">
      <button [disabled]="!currentTemplateDirty" (click)="cancel()" class="button button-white">Restaurer</button>
      <button [disabled]="!currentTemplateDirty" (click)="save()" class="button button-darkblue">Sauvegarder</button>
    </span>
  </ng-container>
  <span class="mt-5 flex-column align-center">
    <button (click)="sendSampleEmail()" class="button button-white w-100percent">M'envoyer ce modèle par mél</button>
  </span>
</ng-container>
