<event-form-component [eventViewModel]="eventViewModel"></event-form-component>
<span class="flex justify-end">
  <button (click)="openDeleteEventModal()" class="button button-negatif">Supprimer</button>
</span>
