<h1 class="uppercase">emails évènement</h1>
<p>Voici les emails liés à cet évènement.</p>


<span class="flex justify-end mt-3">
  <button (click)="writeNewEmail()" class="button button-white">Envoyer un nouveau mél</button>
</span>

<span class="align-self-end p-1 mt-2">Total : {{ emails.length }} mél{{ emails.length > 1 ? 's' : '' }}</span>
<div *ngFor="let email of emails; track email" class="gap-2">
  <div  class="border border-1 flex-column gap-3 mt-5 p-3 w-100percent">
    <div class="flex gap-3 align-end">
      <span class="text-bold w-5">Date d'envoi</span>
      <span>{{email.createdAt}}</span>
    </div>
    <div class="flex gap-3 align-endji">
      <span class="text-bold w-5">Sujet</span>
      <span>{{email.subject}}</span>
    </div>
    <div class="flex gap-3 align-end">
      <span class="text-bold w-5">Pièces jointes</span>
      <span>{{email.attachmentAmount}}</span>
    </div>
    <div class="flex gap-3 align-end">
      <span class="text-bold w-5">Contenu</span>
      <span>{{email.content}}</span>
      <button (click)="seeEmailContent(email)">Voir le contenu</button>
    </div>
  </div>
</div>



<!--
<table class="w-100percent">
  <thead>
    <tr>
      <th>Date d'envoi</th>
      <th>Sujet</th>
      <th>Pièces jointes</th>
      <th>Contenu</th>
    </tr>
  </thead>
  <tbody>
    @for (email of emails; track email) {
      <tr>
        <td>{{ email.createdAt | date }}</td>
        <td>{{ email.subject }}</td>
        <td>{{ email.attachmentAmount }}</td>
        <td><button (click)="seeEmailContent(email)">Voir le contenu</button></td>
      </tr>
    }
  </tbody>
</table>
-->
