<h1 class="uppercase my-3">Inviter des membres</h1>
<div class="flex mt-2 p-2 justify-center">
  <span (click)="currentTab = 'qrcode'" [ngClass]="{'color-black': currentTab === 'qrcode', 'color-gray border-gray': currentTab !== 'qrcode'}"
        class="border-bottom pb-2 pr-2 pl-1 text-center cursor-pointer w-100">Invitation QRCode</span>
  <span (click)="currentTab = 'email'" [ngClass]="{'color-black': currentTab === 'email', 'color-gray border-gray': currentTab !== 'email'}"
        class="border-bottom pb-2 pl-2 pr-1 text-center cursor-pointer w-100">Invitation par mail</span>
</div>


<div *ngIf="currentTab === 'qrcode'" class="flex-column mt-5 mb-3 gap-2 w-100percent">
  <qrcode [margin]="0" [qrdata]="invitationUrl" class="w-100percent" elementType="svg"/>
  <div>
    <span class="text-bold">Code de l'équipe : </span>
    <span>{{ input?.code }}</span>
  </div>
</div>

<div *ngIf="currentTab === 'email'" class="flex-column mt-5 gap-2 w-100percent">
  <form #invitationForm="ngForm" (ngSubmit)="invite(invitationForm)" class="flex-column">
    <div>
      <label for="invitEmail">Email de la personne à inviter</label>
      <input id="invitEmail" [(ngModel)]="invitationEmail" email name="invitation-email" placeholder="Email" required type="email" class="w-100percent">
    </div>
    <div class="flex justify-end p-2">
      <input [disabled]="!invitationForm.valid" type="submit" value="Inviter" class="button button-darkblue">
    </div>
  </form>
  <div class="mb-5">
    <div *ngFor="let invitation of currentlyInvited" class="flex justify-between gap-3">
      <span>{{ invitation }}</span>
      <span class="text-end">Invitation envoyée</span>
    </div>
  </div>
</div>
