<h1 class="uppercase">Les évènements</h1>

<p>Voici tous les évènements que vous avez rejoint.</p>
<p>N’hésitez pas à en rejoindre d’autres !  Vous pourrez ensuite inviter vos coéquipiers si l'évènement le permet.</p>
<button (click)="openJoinEventModal()" class="button button-darkblue">Rejoindre</button>

<div *ngIf="events.length === 0">
  <p>(Aucun évènement n'a été trouvé)</p>
</div>

<div *ngFor="let event of events" class="mb-8">
  <event-card [eventToDisplay]="event" [isModeratorUser]="false"></event-card>
</div>
