<h1 class="uppercase">Les évènements</h1>

<p>Voici tous les évènements que vous avez créés.</p>
<p>N’hésitez pas à en créer d’autres en fonction de vos besoins ! Vous pouvez ensuite les partager.</p>
<a routerLink="/event/create" class="button button-darkblue">Créer un évènement</a>

<div *ngIf="events.length === 0">
  <p>(Aucun évènement n'a été trouvé.)</p>
</div>

<div *ngFor="let event of events">
  <event-card [eventToDisplay]="event" [isModeratorUser]="true"></event-card>
</div>
